@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Imperial+Script&family=Kedebideri:wght@400;500;600;700;800;900&family=Licorice&family=Monsieur+La+Doulaise&family=Mr+Dafoe&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CZ:wght@100..400&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Moonrocks&family=Stack+Sans+Text:wght@200..700&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0px;
    font-family: "Comfortaa", sans-serif;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background-color: #433030;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 8px;
    margin: 0px 10px;
}

nav a:hover {
    border-top: 2px solid white;
    padding: 6px 8px;
}

header h1 {
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: "Licorice", cursive;
    font-weight: 200;
}

header img {
    display: block;
    margin: auto;
    max-width: max-content;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    padding: 20px 5%;
}

.section_horni {
    background-color: #763c2d;
}

.section_dolni {
    background-color: #9c492c;
}

section h2 {
    text-align: center;
}

section p {
    text-align: justify;
}

section article {
    flex: 1;
    padding: 15px;
    margin: 0px 10px;
    background-color: rgb(145, 145, 50);
}

section img {
    display: block;
    max-width: max-content;
    width: 80%;
    margin: auto;
}

@media (max-width: 800px) {

    header {
        padding: 10px 30px;
    }

    header h1 {
        margin: 20px 0px;
    }

    nav a {
        font-size: 1.5em;
    }

    nav {
    display: flex;
    flex-direction: column;
    }

    section {
    display: flex;
    flex-direction: column;
    } 

    section {
        padding: 20px 30px;
    }

    section article {
        margin: 10px;
    }
}

@media (max-width: 800px) {

    header img {
        display: none;
    }
    
    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }
}